#ggs{
    background-color:black ;
    width:100% ;
    position: sticky;
    top:0 ;
    height:1000px ;
    padding-top:30px;
    padding-bottom: 30px;}
   
    body,h1{background-color: black;text-align: center;color: yellow;}
    #static{
        position: static;
        border: 3px solid green;
       border: spacing 50px; 
        
       
    }


    #relative{
        position: relative;
        top: 100px;
        left: 50%;
        border: 3px solid green;
        

    }


    #absolute{
        position: absolute;
        right:40px;
        border: 3px solid green;
        top:240px ;
        
       
    }


    #fixed{
        position:fixed;
        left:0;
        bottom:600px;
        border: 3px solid green;
        
    }


    #sticky{
        position:sticky ;
        top:50px;
        border: 3px solid green;
        bottom: 50px;
    }
    #logo{width:500px; height: 500px;}
    .bg{z-index:4 ;position:fixed;top: 150px;right:170px ;left: 320px;opacity: 0.9;}
    .fietan{z-index:1 ;position:fixed;right: 400px;left:80px;bottom: 545px;opacity:0.8;}
    .shizuko{z-index:3;position:fixed;bottom:500px;right:800px;top: 400px; left:320px; opacity: 0.8;}
    .chrollo{z-index:2 ;position:fixed;top:400px;right: 500px;left:80px ;opacity: 0.7;}
    img{height:250px;width: 250px; border: solid;box-shadow: 5px 5px 1px 2px green;}
body{text-align: center;background-color: black;;text-shadow: 5px 5px 3px green;}
.waw{width: 300px;height: 300px;}













* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  html{
    font-family: "Lucida Sans", sans-serif;
  }
  
  .header {
    background-color: green;
    color: yellow;
    padding: 15px;
 
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: green;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color: green;
  }
  
  .aside {
background-color: rgba(255, 255, 0, 0.774);
    padding: 15px;
    color: green;
    text-align: center;
    font-size: 14px;
    box-shadow: 3px 3px 3px greenyellow, 3px 3px 3px yellowgreen;
  }
  
  .footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }
  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }